*{margin: 0; padding: 0; box-sizing: border-box}

h1{
    background-color: rgb(69, 68, 68);
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 5px;
    color: white;
}

p{
    text-align: center;
    
}